.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
}
.image{
  width: 80%;
  min-width: 200px;
  max-width: 800px;
  object-fit: contain;
  margin-top: 10px;
  border-radius: calc(100vmin / 30);
  box-shadow: var(--shadow);
}
.timeline{
  width: 80%;
  min-width: 200px;
  max-width: 800px;
  object-fit: contain;
  margin-top: 10px;
  border-radius: calc(100vmin / 30);
  box-shadow: var(--shadow);
  margin: 20px 0 50px 0;
}
.title {
  width: 75%;
  min-width: 200px;
  max-width: 800px;
  position: relative;
  display: flex;
  flex-direction: column;
  color: var(--color);
}
.title .name{
  font-size: 15px;
  display: flex;
  align-items: flex-start;
  font-size: 6vmin;
  padding: 10px 20px 0 20px;
}
.title .date{
  position: absolute;
  top: 0;
  font-size: 3vmin;
  padding: 0px 20px;
  color: rgb(100, 100, 100);
}
.description {
  width: 80%;
  min-width: 200px;
  max-width: 800px;
  font-size: 20px;
  color: var(--color);
  margin: 25px 0;
  word-break: break-word;
}
.description a{
  color: var(--blue);
  margin: 0 3px;
  /* font-size:25px; */
}
.description a:hover{
  color: var(--dark-green);
}
.mapContainer{
  margin: 20px 0;
  width: 100vw;
  height: 100vh;
  background-size:cover;
  background-attachment : fixed;
  background-repeat: no-repeat;
  background-color: aqua;
  display: flex;
  justify-content: center;
  align-items: center;
  background-position : auto auto ;
}
.address {
  display: flex;
  flex-direction: column;
  border-radius: 20px;
  overflow: hidden;
  background-color: var(--green);
  box-shadow: var(--shadow);
  color:white;
  /* height: 250px; */
  width: 400px;
  margin: 10px;
}
.address div{
  width: 100%;
  height: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.register{
  background-color: var(--green);
  color: rgb(255, 255, 255);
  border: none;
  padding: 5px 15px;
  border-radius: 10px;
  font-size: 20px;
  font-weight: 600;
  cursor: pointer;
}
.register:hover{
  background-color: var(--dark-green);

}
.sponsors{
  width: 80%;
  min-width: 200px;
  max-width: 800px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 10px;
  padding: 15px;
  margin: 25px 0;
  cursor: pointer;
}
.sponsorsTitle{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color:var(--color);
  font-size: 5vmin;
  font-weight: 900;
}
.sponsorImage{
  width: 100px;
  aspect-ratio: 1;
  object-fit: contain;
  border-radius: 15px;
  box-shadow: var(--shadow);
}
.withTeams{
  width: 100%;
  display: flex;
  gap: 2%;
  flex-wrap: wrap;
}
.team,
.individual{
  width: 49%;
  height: 100%;
  min-width: 200px;
  padding: 5px 10px;
  cursor: pointer;
  background-color: var(--green);
  color: rgb(255, 255, 255);
  border: none;
  border-radius: 10px;
  font-size: 3.2vmin;
  font-weight: 600;
}
.team:hover,
.individual:hover{
  background-color:var(--dark-green)
}
.individual{
  background-color: var(--green);
}
.team{
  background-color: var(--blue);
}
.question{
  width: 100vw;
  height: 100vh;
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(50, 50, 50,.75);
  z-index: 90000000;
}
.question form{
  width: 40%;
  min-width: 200px;
  max-width: 400px;
  padding: 20px;
  background-color: var(--bg-color);
  color:var(--color);
  box-shadow: var(--shadow);
  display: flex;
  flex-direction: column;
  gap: 10px;
  border-radius: 20px;
}
.question input[type="submit"],
.question select
{
  width: 100%;
  /* height: 30px; */
  padding: 0px !important;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  font-size: 20px;
}
@media (max-width:555px){
  .team,
  .individual{
    width: 100%;
    height: 100%;
    margin-top: 5px;
  }
}
/* @media (max-width:450px) {
    .address {
        flex-direction: column;
        height: 350px;
        width: 250px;
    }
    .addressInfo{
      height: 100px;
      width: 250px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
  }
  .addressInfo div{
    height: 20px;
    margin: 0 0 5px 0;
    padding: 0 10px;
    /* background-color: blue; */
  